<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style_entree_sortie.css">
    <title>Doc</title>
</head>

<body>

    <div class="container">
        <%- include('../menu.ejs'); %>

            <h2><span class="taille_de_plus">+</span> Enregistrer un nouveau client</h2>



            <div class="form">
                <p> <span class="en_gras">Nombre de client dans l'hotel</span> </p>
                <div class="form__group field">
                    <input type="input" class="form__field" placeholder="" name="name" id='name' required />
                    <label for="name" class="form__label">informaton générale sue le nombre total de client present dans l'hotel</label>
                </div>
                <div class="chec">
                    <label class="check">Cette information permet de constater le nombre de chambre occupée dans l'hotel
                            <input type="checkbox" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                </div>
            </div>

            <div class="boutons">
                <div class="bouton1">
                    <p>Nouvelle Etrée</p>
                    <button>Entrée</button>
                </div>
                <div class="bouton2">
                    <p>Nouvelle Sortie</p>
                    <button>Sortie</button>
                </div>

            </div>



            <footer>
                <p>copyrygth MI 2020</p>
            </footer>

    </div>




</body>

</html>