<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style_client.css">
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <title>Entree/sortie</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../public/fontawesome-5.15.2/css/fontawesome.min.css">
    <link rel="stylesheet" href="../../public/css/style_acceuil.css">
    <link rel="stylesheet" href="../../public/Accueil/css/style.css">
    <!---------------------------------boostrap------------------------------->
    <link rel="stylesheet" href="../../public/Accueil/css/bootstrap.min.css">
    <!--------------------------And of boostrap------------------------------>

    <!---------------------------------Font icons------------------------------->
    <link rel="stylesheet" href="../../public/Accueil/css/all.css">
    <script src="../../public/js/all.min.js"></script>
</head>

<body>
<header>
    <ul>
        <img src="/image/Logo-atitle-hotelJ.png" class="logo" alt="">
        <li class="clientNom" id="nom" style="float:left"> ALTITEL HOTEL</li>
        <li><a href="/logout" class="deconnexion">Déconnexion</a></li>
        <li class=" main_courante"><a href="/receptioniste/main_courant">Main couran</a></li>
        <li class="bilan"><a href="">Bilan</a></li>
        <li class="facture"><a href="">Facture</a></li>
        <li class=" accueil"><a href="/acceuil/clients">Accueil</a></li>
    </ul>
</header>

<!--    <div class="container-fluid">-->
<!--        -->
<!--    </div>-->
    <div class="container">


        <h2><span class="taille_de_plus">+</span> Enregistrer un nouveau client</h2>



        <div class="form">
            <p> <span class="en_gras">Nombre de client dans l'hotel</span> </p>
            <div class="form__group field">
                <input type="input" class="form__field" placeholder="" name="name" id='name' required />
                <label for="name" class="form__label">informaton générale sue le nombre total de client present dans l'hotel</label>
            </div>
            <div class="chec">
                <label class="check">Cette information permet de constater le nombre de chambre occupée dans l'hotel
                            <input type="checkbox" checked="checked">
                            <span class="checkmark"></span>
                        </label>
            </div>
        </div>

        <div class="boutons">
            <div class="bouton1">
                <p>Nouvelle Etrée</p>
                <button>Entrée</button>
            </div>
            <div class="bouton2">
                <p>Nouvelle Sortie</p>
                <button>Sortie</button>
            </div>

        </div>



        <footer>
            <p>copyrygth MI 2020</p>
        </footer>

    </div>




</body>

</html>