
<html>
	<head>
		<meta charset="UTF-8">
		
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css" type="text/css"/>
        <title>Formulaire</title>
	</head>
	<body>

<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Tableau de bord</h3>
    </div>
    <div class="row align-items-center">
        
            <div class="col-md-6 col-xl-4 mb-4">
            <div class="card shadow border-left-primary py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>les sorties</span></div>
                            <a href="#">  <button type="submit" class="btn btn-primary"> <div class="text-dark font-weight-bold h5 mb-0"><span></span></div></button></a>
                        </div>
                        <div class="col-auto"><i class="far fa-calendar-alt fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-md-6 col-xl-4 mb-4">
            <div class="card shadow border-left-success py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <div class="text-uppercase text-success font-weight-bold text-xs mb-1"><span>autres entrées</span></div>
                            <a href="#"> <button type="submit" class="btn btn-secondary"><div class="text-dark font-weight-bold h5 mb-0"><span></span></div></button></a>
                        </div>
                        <div class="col-auto"><i class="far fa-calendar-check fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4 mb-4">
            <div class="card shadow border-left-danger py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <div class="text-uppercase text-danger font-weight-bold text-xs mb-1"><span>bilan</span></div>
                            <a href="#"><button type="submit" class="btn btn-primary"> <div class="text-dark font-weight-bold h5 mb-0"><span></span></div></button></a>
                        </div>
                        <div class="col-auto"><i class="far fa-calendar-times fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div></br></br>


    <div class="container-fluid">
       
        <div class="row align-items-center">
            
                <div class="col-md-6 col-xl-4 mb-4">
                <div class="card shadow border-left-primary py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col mr-2">
                                <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>clients</span></div>
                                <a href="/admin/client"><button type="submit" class="btn btn-primary"> <div class="text-dark font-weight-bold h5 mb-0"><span></span></div></button></a>
                            </div>
                            <div class="col-auto"><i class="far fa-calendar-alt fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="col-md-6 col-xl-4 mb-4">
                <div class="card shadow border-left-success py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col mr-2">
                                <div class="text-uppercase text-success font-weight-bold text-xs mb-1"><span>factures</span></div>
                                <a href="/admin/facture_admin"><button type="submit" class="btn btn-primary"> <div class="text-dark font-weight-bold h5 mb-0"><span></span></div></button></a>
                            </div>
                            <div class="col-auto"><i class="far fa-calendar-check fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4 mb-4">
                <div class="card shadow border-left-danger py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col mr-2">
                                <div class="text-uppercase text-danger font-weight-bold text-xs mb-1"><span>bilan</span></div>
                                <button type="submit" class="btn btn-primary"><a href="#"> <div class="text-dark font-weight-bold h5 mb-0"><span></span></div></a></button>
                            </div>
                            <div class="col-auto"><i class="far fa-calendar-times fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div></br></br>

</body>
</html>