
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="style.css">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

        <title>Formulaire</title>
	</head>
	<body>
<div class="container">
    <h1> Register</h1>
   

    <form action="/delete" method="POST">
        <div class="form-group">
          <label for="username" class="form-label">id</label>
          <input type="text" class="form-control" name="id" id="id">
          
        </div>
       
       
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

</div>

</body>
</html>