<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Import jquery cdn -->
    <script src="/js/Jquery3.4.1.min.js"></script>

    <script src=
            "https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity=
            "sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous">
    </script>
    <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../public/fontawesome-5.15.2/css/fontawesome.min.css">
    <link rel="stylesheet" href="../public/css/style_acceuil.css">
    <link rel="stylesheet" href="../public/Accueil/css/style.css">
    <!---------------------------------boostrap------------------------------->
    <link rel="stylesheet" href="../public/Accueil/css/bootstrap.min.css">
    <!--------------------------And of boostrap------------------------------>

    <!---------------------------------Font icons------------------------------->
    <link rel="stylesheet" href="../public/Accueil/css/all.css">
    <script src="../public/js/all.min.js"></script>

    <title>Clients</title>
</head>

<body>
<header>
    <ul>
        <img src="/image/Logo-atitle-hotelJ.png" class="logo" alt="">
        <li class="clientNom" id="nom" style="float:left"> ALTITEL HOTEL</li>
        <li><a href="/logout" class="deconnexion">Déconnexion</a></li>
        <li class=" main_courante"><a href="/receptioniste/main_courant">Main courante</a></li>
        <li class="bilan"><a href="">Bilan</a></li>
        <li class=" accueil"><a href="/acceuil/clients">Accueil</a></li>
    </ul>
</header>
<!--------------------------End of Tableau---------------------->


<!--------------------------------footer--------------------------------->
<!--<footer>-->
<!--    <div class="footer">-->
<!--        copyrygth MI 2020-->
<!--    </div>-->

<!--</footer>-->
<!--------------------------------footer--------------------------------->

<!-----------------------------Jquery Library file---------------------------->
<script src="/js/Jquery3.4.1.min.js"></script>

<!-----------------------------Custom javascript file------------------------->
<script src="/js/main_ac.js"></script>
<script type="text/javascript" src="../../public/fontawesome-5.15.2/js/fontawesome.js"></script>

</body>

</html>