<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <style>
        .header {
            display: flex;
            height: 75px;
            background-color: #273486;
        }
        
        .header .logo_nom {
            display: flex;
            margin: 0px;
            padding-left: 30px;
            padding-top: 10px;
        }
        
        .header .logo_nom h2 {
            padding-left: 20px;
            color: #fff;
        }
        
        .header .manu_a {
            float: left;
        }
        
        .header .manu_a ul {
            position: absolute;
            display: flex;
            list-style-type: none;
            margin-left: 400px;
            top: -15px;
        }
        
        .header .manu_a li {
            padding: 30px;
        }
        
        .header a {
            text-decoration: none;
            color: #fff;
            font-weight: bold;
        }
        
        .header .déconnexion .lien {
            display: block;
            padding: 24px 50px;
            margin-left: 822.5px;
            font-size: 25px;
            text-decoration: none;
            background-color: #fff;
        }
    </style>
</head>

<body>

    <div class=" header ">
        <div class="logo_nom ">
            <img src="/public/image/Logo-atitle-hotel.png " alt="logo " class="image " style="width: 60px; height: 60px; ">
            <h2>HOTEL ALTITEL</h2>
        </div>
        <div class="manu_a ">
            <ul>
                <li><a href=" " class="lien_menu ">Accueil</a></li>
                <li><a href="../views/main_courante/index.html " class="lien_menu ">Main courant</a></li>
                <li><a href="client/client.ejs " class="lien_menu ">Clients</a></li>
                <li><a href="client/client.ejs " class="lien_menu ">Entrée/Sortie</a></li>
                <li><a href="client/client.ejs " class="lien_menu ">Bilan</a></li>
            </ul>
        </div>

        <div class="déconnexion ">
            <a href=" " class="lien " style="color: rgb(32, 3, 65); "><span class="couleur ">Deconnexion</span></a>
        </div>
    </div>

    <!--------------------End of header--------------------------------->
    <title>Document</title>




</body>

</html>