body {
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
}


/*---------------------------------header-----------------------------*/

.logo {
    width: 45px !important;
    height: 45px !important;
    position: fixed;
    margin-left: 1%;
}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #273486;
    padding: 0%;
}

li {
    float: right;
}

li a {
    display: block;
    padding: 3%;
    color: white;
    text-align: center;
    text-decoration: none;
    float: right;
    text-align: center;
    padding: 14px 16px;
    font-weight: bold;
    transition: .5s;
}

.deconnexion {
    background-color: white;
    color: #273486;
    transition: .5s;
}

li a:hover,
.deconnexion:hover,
.bar_de_recherche .boutton_recherche:hover {
    background-color: #337ad8;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.clientNom {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 60px;
    margin-top: 8px;
}

form {
    margin-bottom: 5%;
}

footer {
    color: #ED2227;
    align-items: center;
    padding-top: 15px;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-top: 15%;
}

.footer {
    left: 43%;
    margin-left: 45%;
}

@media only screen and (min-width: 768px) {
    .clientNom {
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .logo {
        width: 45px;
        height: 45px;
        position: fixed;
    }
}


/*---------------------------------end of header-----------------------------*/


/*--------------------------Bar de recherche---------------------------*/

h2,
h3 {
    text-align: center;
    color: #273486;
}

.bar_de_recherche {
    text-align: center;
    width: 100%;
    margin-top: 1%;
}

.bar_de_recherche .recherche {
    border-left: none;
    border-top: none;
    border-right: none;
    width: 50%;
    height: 37px;
    border-color: #273486;
}

.bar_de_recherche .boutton_recherche {
    margin-left: -6px;
    width: 120px;
    height: 40px;
    font-size: 15px;
    background-color: #273486;
    border: none;
    color: #fff;
    transition: .5s;
}


/*--------------------------End of Bar de recherche---------------------------*/


/*----------------------------------champs de renseignement------------------*/

form {
    text-align: center !important;
    margin-top: 2%;
    width: 100%;
    align-items: center;
}

.champs {
    width: 80%;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(66, 57, 238, 0.2);
    text-align: center !important;
    left: 10%;
    position: absolute;
}

@media only screen and (min-width: 868px) {
    .nom_prenom,
    .phone_cni {
        display: grid;
        margin-top: 1%;
        grid-template-columns: 50% 50%;
        width: 100%;
        margin-bottom: 1%;
    }
}

#prenom,
#nom,
#phone,
#cni,
#name {
    width: 70%;
}

hr {
    height: 2px !important;
    width: 80%;
    text-align: center;
    left: 10%;
    background-color: #273486;
    position: absolute;
    margin-top: 2%;
    margin-bottom: 2%;
    opacity: .3;
}

.h2 {
    text-align: center;
    color: #273486;
    margin-top: 5%;
}


/*
-------------------------------chambre disponible-----------------------*/

@media only screen and (min-width: 868px) {
    .etat {
        display: grid;
        margin-top: 1%;
        grid-template-columns: 20% 20% 20% 20% 20%;
        width: 100%;
        margin-bottom: 1%;
    }
}

.chambre_standart {
    width: 100%;
}

.boutonEnregistrer {
    text-align: center;
}

.btn {
    width: 40%;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: #273486;
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;
    left: 20%;
    padding: 1%;
}

.back {
    background-color: #273486;
    border: none;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

#gap {
    margin-right: 30px;
}

.checked_in {
    background-color: #273486;
    width: 130px;
    height: 30px;
    border: none;
    color: #fff;
    border-radius: 20px;
    margin-top: 401px;
    margin-left: 590px;
}


/*-------------------------------End of chambre disponible-----------------------*/


/*----------------------------------End of champs de renseignement------------------*/


/*---------------------------------footer-----------------------------*/


/*---------------------------------end of footer-----------------------------*/

.b {
    background-color: #273486;
    border: none;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 10px;
}