@import url('../css/font.css');
html,
body {
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    /*-----------------Theme colors----------------*/
    --bgk-color: #273486;
    --text-light: #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    /*--------------------gradient color--------------*/
    --sky: linear-gradient(120deg, #a1c4fd 0%, #b195f1 100%);
    /*-------------------them font-family-----------*/
    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefin: 'Josefin', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic: 'Livvic', cursive;
}


/*-------------------global classe--------------*/

.ligne {
    text-decoration: none;
}

.flexs-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/*------------------- End of global classe--------------*/


/*--------------------navabar-------------------*/

.logo {
    width: 45px !important;
    height: 45px !important;
    position: absolute;
    margin-left: 1%;
}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #273486;
    padding: 0%;
}

li {
    float: right;
}

li a {
    display: block;
    padding: 3%;
    color: white;
    text-align: center;
    text-decoration: none;
    float: right;
    text-align: center;
    padding: 14px 16px;
    font-weight: bold;
    transition: .5s;
}

.deconnexion {
    background-color: white;
    color: #273486;
    transition: .5s;
}

li a:hover,
.deconnexion:hover {
    background-color: #337ad8;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.clientNom {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 60px;
    margin-top: 8px;
}

.footer {
    color: #ED2227;
    align-items: center;
    margin-top: 5px;
    bottom: 0;
    padding-top: 15px;
    width: 100%;
    margin-left: 43%;
}

.overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

@media only screen and (min-width: 768px) {
    .clientNom {
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .logo {
        width: 45px;
        height: 45px;
        position: absolute;
    }
}


/*--------------------End of navabar-------------------*/


/*--------------------------Main site section----------------------------*/


/*-------------------site title-----------------------*/

.title-date {
    display: grid;
    grid-template-columns: 50% 20% 30%;
    width: 100% !important;
}

.title {
    padding: 1.5rem 2rem;
    color: var(--bgk-color);
    font-weight: bold;
}

.date {
    padding: 2rem 1rem;
}

.botton-valide {
    background-color: #28be69;
    width: 30%;
    font-size: 1rem;
    border-radius: 30px;
    color: #fff;
    border: none;
    padding: 1%;
    transition: 0.5s;
    margin-left: 2%;
}

.botton-valide:hover {
    background-color: #337ad8;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

form {
    display: flex;
}


/*-------------------End of site title-----------------------*/


/*--------------------------Tableau--------------------------*/

.forme {
    background-color: #273486;
    color: white;
}

tr:nth-child(even) {
    background-color: rgb(209, 222, 248);
}


/*----------------------End of Tableau-----------------------*/


/*------------------------End of Main site section-------------------------*/


/*---------viewport less then or equal to 750px--------*/

@media only screen and (max-width: 750px) {
    .ab .ab-menu,
    .ab .ab-items {
        flex-direction: column;
    }
    .ab .toggles-collapses {
        display: initial;
    }
}

@media only screen and (max-width: 526px) {
    .botton-valide {
        width: 5rem;
    }
    .date input {
        width: 5rem;
    }
}


/*---------End of viewport less then or equal to 750px--------*/