@import url('../css/font.css');
* {
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "montserrat", sans-serif !important;
    font-size: 14px;
    line-height: 1.42857143;
    color: rgb(145, 145, 145);
    background-color: #E4E4E4 !important;
}


/*--------------------navabar-------------------*/

.logo {
    width: 45px !important;
    height: 45px !important;
    position: absolute;
    margin-left: 1%;
}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #273486;
    padding: 0%;
}

li {
    float: right;
}

li a {
    display: block;
    padding: 3%;
    color: white;
    text-align: center;
    text-decoration: none;
    float: right;
    text-align: center;
    padding: 14px 16px;
    font-weight: bold;
    transition: .5s;
}

.deconnexion {
    background-color: white;
    color: #273486;
    transition: .5s;
}

li a:hover,
.deconnexion:hover {
    background-color: #337ad8;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.clientNom {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 60px;
    margin-top: 8px;
}

.footer {
    color: #ED2227;
    align-items: center;
    margin-top: 5px;
    bottom: 0;
    padding-top: 15px;
    width: 100%;
    margin-left: 43%;
}

.overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

@media only screen and (min-width: 768px) {
    .clientNom {
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .logo {
        width: 45px;
        height: 45px;
        position: absolute;
    }
}


/*--------------------End of navabar-------------------*/


/*--------------------------------- Enregistation------------------------------*/

.enregistrer {
    width: 100%;
    margin-left: 7%;
}

.enregistrer .h2 {
    background-color: #28be69;
    width: 80%;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 30px;
    color: #fff;
    border: none;
    padding: 3%;
    transition: 0.5s;
}

.enregistrer .h2:hover {
    background-color: #337ad8;
    text-decoration: none;
    color: rgb(255, 255, 255);
}


/* Hide the browser's default checkbox */

.check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/*---------------------------------End of Enregistation------------------------------*/


/*-------------------------site-content----------------*/

@media only screen and (min-width: 468px) {
    .corps {
        display: grid;
        margin-top: 3%;
        grid-template-columns: 50% 50%;
        width: 100%;
    }
}


/*
.gauche {
    width: 49%;
    left: 0;
    position: fixed;
    z-index: 1;
    height: 100%;
    overflow-x: hidden;
    margin-bottom: 15px;
}

.droite {
    width: 49%;
    right: 0;
    position: fixed;
    z-index: 1;
    height: 100%;
    overflow-x: hidden;
    margin-right: 1%;
    margin-bottom: 15px;
}
*/

.entete2 {
    background-color: #273486;
    padding: 1%;
    top: 0;
    display: flex;
    width: 100%;
    height: 5%;
    color: white;
    font-weight: bold;
    font-size: 2.1rem;
}

.resultatGlobal {
    background-color: white;
    width: 96%;
    align-self: center;
    padding: 1%;
    margin-top: 3%;
    box-shadow: 9px 15px 12px -10px #c7c5c5;
    margin-left: 1%;
}

.titre1 {
    color: #273486;
    font-size: 1.7rem;
    font-weight: bold;
}

.sousTitre1 {
    color: #565555;
    font-size: 1rem !important;
}

.nombre_client {
    color: #273486;
    font-size: 3.1rem;
    font-weight: bold;
    text-align: right;
    padding-right: 15%;
    margin-bottom: 0px;
}

.separateur {
    background-color: #273486;
    width: 80%;
    margin-left: -1%;
    border: 1px solid#273486;
}

.bas,
.bas1 {
    display: grid;
    grid-template-columns: 7% 93%;
}

.marqueur {
    width: 20px;
    height: 20px;
    background-color: #273486;
}

.StatBrefClient {
    margin-top: 1%;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 99.5%;
    padding: 1%;
    color: #3F3D56;
}

.nombreEnquete,
.resultatEnqueteEnCours,
.nombreInteraction {
    background-color: white;
    width: 96%;
    height: 100%;
    align-self: center;
    padding: 1%;
    margin-top: 3%;
    box-shadow: 9px 15px 12px -10px #c7c5c5;
    margin-left: 1%;
}

.entréesortie {
    width: 100%;
    margin: 0 auto;
    padding-left: 20%;
    overflow: hidden;
}

.btnenregistrement {
    background-color: #273486;
    width: 80%;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 30px;
    color: #fff;
    border: none;
    padding: 5%;
    transition: 0.5s;
}

.btnenregistrement:hover {
    background-color: #2e90d1;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.titre2 {
    font-weight: bold;
    margin-left: 2%;
}

.separateur1 {
    width: 90%;
    margin-left: -1%;
    border: 1px solid #3F3D56;
}

.marqueur1 {
    width: 10px;
    height: 10px;
    background-color: #3F3D56;
    margin-top: 15%;
}

.note1 {
    margin-top: 10%;
    font-size: 3rem;
    text-align: right;
    padding-right: 15%;
    font-weight: bold;
}


/*-------------------------End of site-content----------------*/


/*------------------------------Tableau---------------------------------*/

.titredroit {
    background-color: #273486;
    padding: 2%;
    margin-bottom: 2%;
}

.titreListe {
    padding: 1%;
    color: #fff !important;
    margin-bottom: 0px;
}

#tableau {
    background-color: white !important;
    width: 96%;
    height: 100%;
    align-self: center;
    padding: 1%;
    margin-top: 3%;
    box-shadow: 9px 15px 12px -10px #c7c5c5;
    margin-right: 1%;
}

.tableau .forme {
    background-color: #273486;
    font-weight: bold;
    color: #fff;
}

.tableau .groupe button {
    font-size: 11px;
    border-radius: 30px;
    background-color: #273486;
    transition: 1s;
    color: #fff;
    border: none;
    padding: 5px;
    font-weight: bold;
    width: 100px;
    transition: .5s;
}

#couleur0 {
    background-color: #ff7700;
}

#couleur1 {
    background-color: #28be69;
}

tr:nth-child(even) {
    background-color: rgb(209, 222, 248);
}

.tableau .groupe button:hover,
#couleur1:hover,
#couleur0:hover {
    background-color: #2e90d1;
    text-decoration: none;
    color: rgb(255, 255, 255);
}


/*---------------------------------------End of Tableau-------------------*/


/*---------viewport less then or equal to 750px--------*/


/*---------End of viewport less then or equal to 750px--------*/