*{
    margin: 0px;
    padding: 0px;
}

.nav-en-tete {
    display: flex;
    justify-content: space-between;
}

.nav-en-tete .en-tete {
    display: flex;
    margin: 1.5rem 2rem;
}

.nav-en-tete .en-tete .nom-hotel{
    margin: 0.8rem .9rem;
    color: #273486;
    font-weight: bold;
    font-size: 1.2rem;
}

.nav-en-tete p{
    margin: 2rem 2rem;
}

.contenair{
    margin: 2% 25%;
}


.contenair .info-client{
   display: flex;
   justify-content: space-between;
   text-align: center;
  
}

.contenair .valeur {
    display: flex;
    justify-content: space-between;
    text-align: center;
   
 }

 .contenair .info-client .espace1{
    display: flex;
    
}

.info-client .espace .bleu{
    color: #273486;
    font-weight: bold;
}

.info-client .espace .black{
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}

.contenair .info-client .espace1 .ecart{
    margin-right: 5rem;
}
h3{
    margin-top: 10%;
}

.contenair .valeur .service-montant{
    width: 28%;
}

.contenair .valeur .service-montant .montant{
    margin-top: 1.5rem;
    color: #273486;
    font-weight: bold;
}