<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/enregistrer/css/style.css">
    <!---------------------------------Font icons------------------------------->
    <link rel="stylesheet" href="../../public/enregistrer/css/all.css">
    <!--------------------------And of Font icons------------------------------>
    <title>Ajouter client</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../public/fontawesome-5.15.2/css/fontawesome.min.css">
    <link rel="stylesheet" href="../../public/css/style_acceuil.css">
    <link rel="stylesheet" href="../../public/Accueil/css/style.css">
    <!---------------------------------boostrap------------------------------->
    <link rel="stylesheet" href="../../public/Accueil/css/bootstrap.min.css">
    <!--------------------------And of boostrap------------------------------>

    <!---------------------------------Font icons------------------------------->
    <link rel="stylesheet" href="../../public/Accueil/css/all.css">
    <script src="../../public/js/all.min.js"></script>
</head>
<body>
<!--------------------------------Navigation------------------------------->
<header>
    <ul>
        <img src="/image/Logo-atitle-hotelJ.png" class="logo" alt="">
        <li class="clientNom" id="nom" style="float:left"> ALTITEL HOTEL</li>
        <li><a href="/logout" class="deconnexion">Déconnexion</a></li>
        <li class=" main_courante"><a href="/receptioniste/main_courant">Main couran</a></li>
        <li class="bilan"><a href="">Bilan</a></li>
        <li class="facture"><a href="">Facture</a></li>
        <li class=" accueil"><a href="/acceuil/clients">Accueil</a></li>
    </ul>
</header>

<!--<nav class="nav">-->
<!--    <div class="nav-menu flex-row">-->
<!--        <div class="nav-brand">-->
<!--            <div class="img">-->
<!--                <img src="image/Logo-atitle-hotelJ.png" alt="logo" style="width: 50px; height: 50px;">-->
<!--            </div>-->
<!--            <span> HOTEL ALTITEL</span>-->
<!--        </div>-->


<!--        <div class="toggle-collapse">-->
<!--            <div class="toggle-icons">-->
<!--                <i class="fas fa-bars"></i>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="nav-items">-->
<!--            <li class="nav-link">-->
<!--                <a href="/acceuil/clients">Accueil</a>-->
<!--            </li>-->
<!--            <li class="nav-link">-->
<!--                <a href="/receptioniste/main_courant">Main courant</a>-->
<!--            </li>-->
<!--            <li class="nav-link">-->
<!--                <a href="">Bilan</a>-->
<!--            </li>-->
<!--            <li class="nav-link">-->
<!--                <a href="">Facture</a>-->
<!--            </li>-->
<!--            <li class="nav-link">-->
<!--                <a href="">Contact </a>-->
<!--            </li>-->
<!--        </div>-->

<!--        <div class="social text-gray">-->
<!--            <a href="/logout" class="lien">Déconnexion</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->

<!-----------------------------End of Navigation--------------------------->


<section class="container">


    <div class="champ justify-content-center text-center d-flex">
            <div class="col-md-8 p-2 text-center  alert-danger">
                <h2 class="">Aucun resultat trouvé</h2>
                <h3 class="">Le client n'exite pas veillez l'enregistrer.</h3><br>
                <span>Cliquez <a href="/receptioniste/client"> ici</a></span>
            </div>
    </div>
</section>


<!-----------------------------Jquery Library file---------------------------->
<script src="../../public/enregistrer/js/Jquery3.4.1.min.js"></script>

<!-----------------------------Custom javascript file------------------------->
<script src="../../public/enregistrer/js/main.js"></script>
</body>
</html>