<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Doc</title>
</head>

<body>

    <div class="container">
        <!------------------------header--------------------------------->
        <%- include('../menu.ejs'); %>
            <!--------------------End of header--------------------------------->




            <h2 class="titre_h2">Main courant réception</h2>
            <div class="date">
                <label for="date">Selectionner la date ici</label>
                <input type="date" name="" id="date" value="2021-06-12" class="date_color">
            </div>


            <div class="tableaux">

                <table>
                    <thead class="forme">
                        <tr>
                            <th>Nom</th>
                            <th>N°chambre</th>
                            <th>Petit déjeuner</th>
                            <th>Restaurant</th>
                            <th>Bar</th>
                            <th>Linge</th>
                            <th>Divers</th>
                            <th>Total jour</th>
                            <th>Rpport veille</th>
                            <th>Total général</th>
                            <th>Règlement</th>
                            <th>A raporter</th>
                        </tr>
                    </thead>
                    <tr>
                        <td><input type="text" placeholder=" Nom du client" class="bordure"></td>
                        <td><input type="text" placeholder=" Numero" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                    </tr>

                    <tr>
                        <td><input type="text" placeholder=" Nom du client" class="bordure"></td>
                        <td><input type="text" placeholder=" Numero" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                    </tr>

                    <tr>
                        <td><input type="text" placeholder=" Nom du client" class="bordure"></td>
                        <td><input type="text" placeholder=" Numero" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                    </tr>

                    <tr>
                        <td><input type="text" placeholder=" Nom du client" class="bordure"></td>
                        <td><input type="text" placeholder=" Numero" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                    </tr>

                    <tr>
                        <td><input type="text" placeholder=" Nom du client" class="bordure"></td>
                        <td><input type="text" placeholder=" Numero" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                    </tr>

                    <tr>
                        <td><input type="text" placeholder=" Nom du client" class="bordure"></td>
                        <td><input type="text" placeholder=" Numero" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                    </tr>

                    <tr>
                        <td><input type="text" placeholder=" Nom du client" class="bordure"></td>
                        <td><input type="text" placeholder=" Numero" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                    </tr>

                    <tr>
                        <td><input type="text" placeholder=" Nom du client" class="bordure"></td>
                        <td><input type="text" placeholder=" Numero" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                    </tr>

                    <tr>
                        <td><input type="text" placeholder=" Nom du client" class="bordure"></td>
                        <td><input type="text" placeholder=" Numero" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                    </tr>

                    <tr>
                        <td><input type="text" placeholder=" Nom du client" class="bordure"></td>
                        <td><input type="text" placeholder=" Numero" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                        <td><input type="text" placeholder=" Montant" class="color"></td>
                    </tr>


                </table>


            </div>







            <!--------------------------------footer--------------------------------->
            <footer>
                <p>copyrygth MI 2020</p>
            </footer>
            <!--------------------------------footer--------------------------------->
    </div>


</body>

</html>