@import url('../css/font.css');
html,
body {
    margin: 0%;
    background-color: white;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    /*-----------------Theme colors----------------*/
    --bgk-color: #273486;
    --text-light: #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    /*-------------------them font-family-----------*/
    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefin: 'Josefin', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic: 'Livvic', cursive;
}


/*-------------------global classe--------------*/

a {
    text-decoration: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/*------------------- End of global classe--------------*/


/*--------------------navabar-------------------*/

.logo {
    width: 45px;
    height: 45px;
    margin-left: 1%;
    position: absolute;
}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #273486;
    padding: 0%;
}

li {
    float: right;
}

li a {
    display: block;
    padding: 3%;
    color: white;
    text-align: center;
    text-decoration: none;
    float: right;
    text-align: center;
    padding: 14px 16px;
    font-weight: bold;
    transition: .5s;
}

.deconnexion {
    background-color: white;
    color: #273486;
    transition: .5s;
}

li a:hover,
.deconnexion:hover {
    background-color: #337ad8;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.clientNom {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 60px;
    margin-top: 8px;
}

.footer {
    color: #ED2227;
    align-items: center;
    margin-top: 5px;
    bottom: 0;
    padding-top: 15px;
    width: 100%;
    margin-left: 43%;
}

@media only screen and (min-width: 768px) {
    .clientNom {
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
    }
}


/*--------------------End of navabar-------------------*/

.champ h2 {
    color: #273486;
}

.content h2,
h3 {
    text-align: center;
    color: #273486;
}

.bar_de_recherche {
    text-align: center;
    margin-top: 20px;
}

.bar_de_recherche .recherche {
    padding-left: 10px;
    border-left: none;
    border-top: none;
    border-right: none;
    width: 500px;
    height: 37px;
    border-color: #273486;
}

.bar_de_recherche .boutton_recherche {
    margin-left: -6px;
    width: 10%;
    height: 40px;
    font-size: 15px;
    background-color: #273486;
    border: none;
    color: #fff;
}

.champ {
    text-align: center;
}

#prenom,
#nom,
#phone,
#adresse {
    width: 100%;
}

#cni {
    width: 100%;
}

.nom_num,
.prenom_cin {
    margin-right: 20%;
}

.etat {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.chambre_standart {
    width: 100%;
    font-weight: bold;
    margin-top: 2%;
}

.back {
    background-color: #273486;
    border: none;
    color: #fff;
    width: 40px;
    border-radius: 10px;
}

.contenu {
    display: flex;
    margin: auto;
    width: 80%;
}

.enregistrer .checked_in {
    margin-top: 2%;
    background-color: #273486;
    width: 30%;
    font-size: 1.52rem;
    text-align: center;
    border-radius: 30px;
    color: #fff;
    border: none;
    padding: 1%;
    transition: 0.5s;
}

.enregistrer .checked_in:hover {
    background-color: #337ad8;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.footer {
    color: #ED2227;
    align-items: center;
    margin-top: 5px;
    bottom: 0;
    padding-top: 15px;
    width: 100%;
    margin-left: 45%;
}

@media all and (max-width: 1310px) {
    .etat {
        width: 60%;
    }
}

@media all and (max-width: 940px) {
    .etat {
        width: 60%;
    }
    .contenu {
        width: 45%;
    }
}

@media all and (max-width: 890px) {
    .etat {
        width: 80%;
    }
    .contenu {
        width: 50%;
    }
}

@media all and (max-width: 900px) {
    .etat {
        width: 70%;
    }
}

@media only screen and (max-width: 753px) {
    .etat {
        width: 80%;
    }
}

@media only screen and (max-width: 800px) {
    .etat {
        width: 75%;
    }
}

@media all and (max-width: 913px) {
    .etat {
        width: 64%;
    }
}

@media only screen and (max-width: 750px) {
    .nav .nav-menu,
    .nav .nav-items {
        flex-direction: column;
    }
    .nav .toggle-collapse {
        display: initial;
    }
    .etat {
        width: 80%;
    }
    .contenu {
        width: 55%;
    }
}


/*---------End of viewport less then or equal to 750px--------*/