<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_cm.css">
    <!---------------------------------Font icons------------------------------->
    <link rel="stylesheet" href="/css/all_cm.css">

    <title>Commandes</title>
</head>

<body>
    <header>
        <ul>
            <img src="/image/Logo-atitle-hotelJ.png" class="logo" alt="">
            <li class="clientNom" id="nom" style="float:left"> ALTITEL HOTEL</li>
            <li><a href="/logout" class="deconnexion">Déconnexion</a></li>
            <li class=" accueil"><a href="/acceuil/clients">Accueil</a></li>
            <li class=" main_courante"><a href="/receptioniste/main_courant">Main courant</a></li>
            <li class="bilan"><a href="">Bilan</a></li>
            <li class="facture"><a href="">Facture</a></li>
        </ul>
    </header>
    <!------------------------header--------------------------------->


    <!--------------------End of header--------------------------------->



    <div class="login-content">
        <form action="/receptioniste/commande/<%= id %>" method="POST">
            <img src="/image/Logo-atitle-hotel.png">
            <h2 class="title">
                <div class="liste_deroulante">
                    <label for="poste"> <b> <i>Service</i> </b></label>
                    <select id="poste" name="poste">
                            <option value="">Sélectionnez une option</option>
                            <option value="reglement">Règlement</option>
                            <option value="restaurant">Petit dejeuné</option>
                            <option value="restaurant">Restaurant</option>
                            <option value="divers">Bar</option>
                            <option value="linge">Linge</option>
                            <option value="restaurant">Divers</option>
                            </select>
                </div>
            </h2>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <h5>Montant</h5>
                    <input type="text" class="input" name="montant">
                </div>
            </div>
            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <h5>Nombre</h5>
                    <input type="text" class="input" name="nombre">
                </div>
            </div>

            <input type="submit" class="btn" value="Enregistrer" style="font-weight: bold;">
        </form>
    </div>

    <!--------------------End of container--------------------------------->

    <!--------------------------------footer--------------------------------->
    <footer>
        <div class="footer">
            copyrygth MI 2020
        </div>

    </footer>
    <!--------------------------------footer--------------------------------->



    <!-----------------------------Jquery Library file---------------------------->
    <script src="/js/Jquery3.4.1.min.js"></script>

    <!-----------------------------Custom javascript file------------------------->
    <script src="./js/main_cm.js"></script>
</body>

</html>