<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style_commande.css">
    <link rel="stylesheet" href="../../public/css/style_client.css">
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <title>Commandes</title>
</head>

<body>
    <!------------------------header--------------------------------->

    <div class="container-fluid">
        <header>
            <div class="container-fluid offset">
                <div class="col-md-12">
                    <div class="row">
                        <div class="header">
                            <div class="logo_nom col-md-4">
                                <img src="/image/Logo-atitle-hotelJ.png" alt="logo" class="image" style="width: 60px; height: 60px;">
                                <h2>HOTEL ALTITEL</h2>
                            </div>
                            <div class="manu_a col-md-6 offset-0">
                                <ul>
                                    <div class="col-md-2">
                                        <li><a href="" class="lien_menu">Accueil</a></li>
                                    </div>
                                    <div class="col-md-4">
                                        <li><a href="/" class="lien_menu">Main courant</a></li>
                                    </div>
                                    <div class="col-md-2">
                                        <li><a href="" class="lien_menu">Bilan</a></li>
                                    </div>
                                </ul>
                            </div>

                            <div class="deconnexion col-md-2">
                                <a href="" class="lien" style="color: rgb(32, 3, 65);"><span class="couleur">Deconnexion</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <!--------------------End of header--------------------------------->
    <div class="container">



        <div class="login-content">
            <form action="/receptioniste/commande/<%= id %>" method="POST">
                <img src="/image/Logo-atitle-hotel.png">
                <h2 class="title">
                    <div class="liste_deroulante">
                        <label for="poste"> <b> <i>Motif</i> </b></label>
                        <select id="poste" name="poste">
                                <option value="chambre">N°chambre</option>
                                <option value="restaurant">Petit dejeuné</option>
                                <option value="restaurant">Restaurant</option>
                                <option value="divers">Bar</option>
                                <option value="linge">Linge</option>
                                <option value="restaurant">Divers</option>
                            </select>
                        </div>
                    </h2>
                    <div class="input-div one">
                        <div class="i">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="div">
                            <h5>Nom de la commande</h5>
                            <input type="text" class="input">
                        </div>
                    </div>
                    <div class="input-div pass">
                        <div class="i">
                            <i class="fas fa-lock"></i>
                        </div>
                        <div class="div">
                            <h5>Montant</h5>
                            <input type="password" class="input">
                        </div>
                    </div>

                    <input type="submit" class="btn" value="Enregistrer" style="font-weight: bold;">
                </form>
            </div>

            <!--------------------End of container--------------------------------->

            <!--------------------------------footer--------------------------------->
            <footer>
                <p>copyrygth MI 2020</p>
            </footer>
            <!--------------------------------footer--------------------------------->
    </div>

    <script type="text/javascript" src="../../public/js/commande.js"></script>
</body>

</html>