<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style_commande.css">
    <title>Doc</title>
</head>

<body>

    <div class="container">
        <!------------------------header--------------------------------->
        <%- include('../menu.ejs'); %>
            <!--------------------End of header--------------------------------->


            <!--------------------container--------------------------------->

            <div class="login-content">
                <form action="index.html">
                    <img src="./image/Logo-atitle-hotel.png">
                    <h2 class="title">
                        <div class="liste_deroulante">
                            <label for="poste"> <b> <i>Motif</i> </b></label>
                            <select name="poste" id="poste">
                                <option value="chambre">N°chambre</option>
                                <option value="restaurant">Petit dejeuné</option>
                                <option value="restaurant">Restaurant</option>
                                <option value="divers">Bar</option>
                                <option value="linge">Linge</option>
                                <option value="restaurant">Divers</option>
                            </select>
                        </div>
                    </h2>
                    <div class="input-div one">
                        <div class="i">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="div">
                            <h5>Nom de la commande</h5>
                            <input type="text" class="input">
                        </div>
                    </div>
                    <div class="input-div pass">
                        <div class="i">
                            <i class="fas fa-lock"></i>
                        </div>
                        <div class="div">
                            <h5>Montant</h5>
                            <input type="password" class="input">
                        </div>
                    </div>

                    <input type="submit" class="btn" value="Enregistrer" style="font-weight: bold;">
                </form>
            </div>

            <!--------------------End of container--------------------------------->

            <!--------------------------------footer--------------------------------->
            <footer>
                <p>copyrygth MI 2020</p>
            </footer>
            <!--------------------------------footer--------------------------------->
    </div>

    <script type="text/javascript" src="../../public/js/commande.js"></script>
</body>

</html>