@import url('font.css');
html,
body {
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
    background: rgb(233, 232, 232) !important;
}

:root {
    /*-----------------Theme colors----------------*/
    --bgk-color: #273486;
    --text-light: #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    /*--------------------gradient color--------------*/
    --sky: linear-gradient(120deg, #a1c4fd 0%, #b195f1 100%);
    /*-------------------them font-family-----------*/
    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefin: 'Josefin', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic: 'Livvic', cursive;
}


/*-------------------global classe--------------*/

.ligne {
    text-decoration: none;
}

.flexs-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/*------------------- End of global classe--------------*/


/*--------------------navabar-------------------*/

.ab {
    background-color: var(--bgk-color);
    height: 4.1rem;
    min-height: 8vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.ab .ab-menu {
    justify-content: space-between;
}

.ab .toggles-collapses {
    position: absolute;
    top: 0;
    width: 90%;
    cursor: pointer;
    display: none;
}

.collapses {
    height: 33rem;
}

.ab .toggles-collapses .toggles-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.ab .toggles-collapses .toggles-icons i {
    font-size: 1.4rem;
    color: var(--text-gray);
}

.ab .ab-items {
    list-style-type: none;
    display: flex;
    margin: 0;
    color: var(--white);
}

.ab .ab-items .ab-link {
    padding: 1.6rem 0.5rem;
    position: relative;
    font-family: var(--Lexend);
    font-size: 1rem;
}

.ab .ab-items .ligne {
    color: var(--white)
}

.image {
    padding: 1rem 1rem;
}

.ab .ab-items .ab-link:hover {
    background-color: var(--white);
}

.ab .ab-items .ab-link:hover .ligne {
    color: var(--bgk-color);
}

.ab .ab-brand span {
    padding: 1.5rem 0;
    font-size: 1.6rem;
    font-family: var(--Abel);
    font-size: 1.3rem;
    color: var(--white)
}

.ab .ab-brand {
    display: flex;
}

.ab .socials {
    padding: 1.6rem 0;
}

.ab .socials .liens {
    padding: 1.7rem;
    background-color: var(--white);
    font-size: 1.1rem;
    color: var(--bgk-color);
}


/*--------------------End of navabar-------------------*/


/*-------------------------site-content----------------*/

.sit-contents {
    display: grid;
    margin-top: 3%;
    grid-template-columns: 50% 50%;
    width: 100%;
}


/*-------------------------End of site-content----------------*/


/*------------------------------Tableau---------------------------------*/

#tableau {
    background-color: #fff;
    box-shadow: 3px 3px 30px rgba(66, 57, 238, 0.2);
    border-collapse: collapse;
}

.tableau .forme {
    background-color: #273486;
    font-weight: bold;
    color: #fff;
}

.tableau .groupe button {
    font-size: 11px;
    border-radius: 30px;
    background-color: #273486;
    transition: 1s;
    color: #fff;
    border: none;
    padding: 5px;
    font-weight: bold;
    width: 100px;
}

#couleur0 {
    background-color: #ff7700;
}

#couleur1 {
    background-color: #28be69;
}

tr:nth-child(even) {
    background-color: rgb(209, 222, 248);
}


/*---------------------------------------End of Tableau-------------------*/


/*--------------------------------- Enregistation------------------------------*/

.nombre_client {
    font-size: 4.5rem;
    font-weight: bold;
    color: #273486;
    margin-left: 55%;
}

.enregistrer .taille_de_plus {
    font-weight: 50px;
}

.enregistrer .form {
    margin-top: 8%;
    width: 100%;
    height: 42%;
    background-color: #fff;
    box-shadow: 0px 5px rgba(66, 57, 238, 0.2);
}

.enregistrer .form .en_gras {
    color: #273486;
    bottom: 5px;
}

.btn {
    display: inline !important;
}

.enregistrer .form .form__group {
    position: relative;
    padding: 11px 0 0;
    margin-top: 10px;
    width: 100%;
}

.enregistrer .form .form__group .form__field {
    width: 92%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.9rem;
    color: rgb(39, 2, 2);
    padding: 20px 0;
}

.enregistrer .form .form__group .form__label {
    position: absolute;
    cursor: text;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
}

.enregistrer .form .chec {
    margin-left: 25px;
    margin-top: 12px;
}

.enregistrer .form .chec .check {
    display: block;
    position: relative;
    padding-left: 27px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 11px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #273486;
}

.enregistrer .boutons {
    margin: 7% 16%;
    display: flex;
    padding-bottom: 5%;
}

.enregistrer .boutons button {
    width: 100px;
    font-weight: bold;
    border-radius: 30px;
    color: #fff;
    border: none;
    font-size: 20px;
    background-image: linear-gradient(to right, #89898f, #273486, #273486);
    transition: .5s;
}

.enregistrer .boutons .bouton1 {
    padding-right: 150px;
}


/*---------------------------------End of Enregistation------------------------------*/

.overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.over {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.bg-h2 {
    background-color: var(--bgk-color);
    padding: 1rem;
    color: var(--white);
}

.global {
    padding: 1rem;
    display: grid;
    grid-template-columns: 36% 31% 32%;
}

.popup {
    margin: 10% auto;
    width: 55%;
    background-color: white;
    border-radius: 5PX;
}
.pop {
    margin: 10% auto;
    width: 55%;
    background-color: white;
    border-radius: 5PX;
}

.gras {
    font-weight: bold;
}

#btnClose {
    cursor: pointer;
    float: right;
}


/*---------viewport less then or equal to 750px--------*/

@media only screen and (min-width: 1000px) {
    .sit-contents {
        grid-template-columns: 50% 50%;
    }
}

@media only screen and (min-width: 900px) {
    .sit-contents {
        grid-template-columns: 50% 50%;
    }
}

@media only screen and (min-width: 850px) {
    .sit-contents {
        grid-template-columns: 50% 50%;
    }
}

@media only screen and (max-width: 750px) {
    .ab .ab-menu,
    .ab .ab-items {
        flex-direction: column;
    }
    .ab .toggles-collapses {
        display: initial;
    }
    .sit-contents {
        grid-template-columns: 35% 15%;
    }
}

.popup-position{
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;

  
}
#popup-wrapper{
text-align: left;
}


#popup-container{

    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 70px auto;

   
}

/*
@media only screen and (max-width: 526px){
    .botton-valide{
        width: 5rem;
    }
   
    .date input{
        width: 5rem;
    }

   
}





/*---------End of viewport less then or equal to 750px--------*/